<% page_content = yield %>
<%
  if current_page.data.includes
    current_page.data.includes.each do |include|
      page_content += partial("includes/#{include}")
    end
  end
%>

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= current_page.data.title || "Poi Developers" %></title>

    <style>
      <%= Rouge::Themes::MonokaiSublime.render(:scope => '.highlight') %>
    </style>
    <%= stylesheet_link_tag :screen, media: :screen %>
    <%= stylesheet_link_tag :landing, media: :screen %>
  </head>

  <body class="<%= page_classes %>">
    <div class="header">  
      <div class="navbar-container">
        <div class="navbar">
          <div class="logo"><%= image_tag 'logo-developers.png' %></div>
          <ul class="nav-links">
            <li><a href="#">Guides</a></li>
            <li><a href="/api.html">API Reference</a></li>
            <li><a href="#">SDKs</a></li>
            <li class="api-key"><a href="#">Get an API Key</a></li>
          </ul>
        </div>
      </div>
      <div id="particles-background"></div>
      <div class="phone-background"><%= image_tag 'phone.png' %></div>
      <div class="slogan">
        <div class="slogan-text">
          Track and reward your users' Impact<br> on the <b>Poi Network</b>
        </div>
      </div>
      <div class="mask">
        <%= image_tag 'landing-mask.svg' %>
      </div>
    </div>
    <div class="page-wrapper">
      <%= page_content %>
    </div>
    <div class="footer">

    </div>
    <%= javascript_include_tag  "landing" %>
  </body>
</html>
